@media (min-width: 576px) {
  /** Width */

  .w-sm-5 {
    width: 10%;
  }

  .w-sm-10 {
    width: 10%;
  }

  .w-sm-15 {
    width: 15%;
  }

  .w-sm-20 {
    width: 20%;
  }

  .w-sm-25 {
    width: 25%;
  }

  .w-sm-30 {
    width: 30%;
  }

  .w-sm-35 {
    width: 35%;
  }

  .w-sm-40 {
    width: 40%;
  }

  .w-sm-45 {
    width: 45%;
  }

  .w-sm-50 {
    width: 50%;
  }

  .w-sm-55 {
    width: 55%;
  }

  .w-sm-60 {
    width: 60%;
  }

  .w-sm-65 {
    width: 65%;
  }

  .w-sm-70 {
    width: 70%;
  }

  .w-sm-75 {
    width: 75%;
  }

  .w-sm-80 {
    width: 80%;
  }

  .w-sm-85 {
    width: 85%;
  }

  .w-sm-90 {
    width: 90%;
  }

  .w-sm-95 {
    width: 95%;
  }

  .w-sm-100 {
    width: 100%;
  }

  /** Width */

  /** Height */

  .h-sm-5 {
    width: 10%;
  }

  .h-sm-10 {
    width: 10%;
  }

  .h-sm-15 {
    width: 15%;
  }

  .h-sm-20 {
    width: 20%;
  }

  .h-sm-25 {
    width: 25%;
  }

  .h-sm-30 {
    width: 30%;
  }

  .h-sm-35 {
    width: 35%;
  }

  .h-sm-40 {
    width: 40%;
  }

  .h-sm-45 {
    width: 45%;
  }

  .h-sm-50 {
    width: 50%;
  }

  .h-sm-55 {
    width: 55%;
  }

  .h-sm-60 {
    width: 60%;
  }

  .h-sm-65 {
    width: 65%;
  }

  .h-sm-70 {
    width: 70%;
  }

  .h-sm-75 {
    width: 75%;
  }

  .h-sm-80 {
    width: 80%;
  }

  .h-sm-85 {
    width: 85%;
  }

  .h-sm-90 {
    width: 90%;
  }

  .h-sm-95 {
    width: 95%;
  }

  .h-sm-100 {
    width: 100%;
  }

  /** Height */

  .header .logo img {
    height: 55.25px;
  }

  .hero {
    padding: 90px 0 10px 0;
  }

  .hero .hero-text h2 {
    margin: 0;
    font-size: 10px;
    line-height: 40px;
    font-weight: 700;
    width: 100%;
  }

  .hero .hero-text p {
    margin-top: 10px;
    font-size: 17px;
  }

  .notification .parent {
    width: 50%;
  }

  .tabs-depo label {
    min-width: 70%;
  }

  .room-chat {
    width: 100%;
  }

  .room-chat .room-chat-parent {
    min-width: 45%;
  }

  .profile-card .sub-profile-card div:last-child h4 {
    font-size: 16px;
  }

  .profile-card .sub-profile-card div:last-child h6 {
    font-size: 11px;
  }

  .profile-card .sub-profile-card-level .profile-level-progress {
    width: 25%;
  }
}

/* @media (max-width: 768px) and (min-width: 576px) {
	.orders-table {
		overflow: auto;
	}
} */
