@media (max-width: 640px) {
	.hero-animated h2 {
		font-size: 32px;
	}

	.hero-animated p {
		font-size: 18px;
		margin-bottom: 30px;
	}

	.hero-animated .btn-get-started,
	.hero-animated .btn-watch-video {
		font-size: 14px;
	}

	.hero .container {
		padding: 0 60px;
	}

	.hero-fullscreen h2 {
		font-size: 32px;
	}

	.hero-fullscreen p {
		font-size: 18px;
		margin-bottom: 30px;
	}

	.hero-fullscreen .btn-get-started,
	.hero-fullscreen .btn-watch-video {
		font-size: 14px;
	}

	.hero-static h2 {
		font-size: 32px;
	}

	.hero-static p {
		font-size: 18px;
		margin-bottom: 30px;
	}

	.hero-static .btn-get-started,
	.hero-static .btn-watch-video {
		font-size: 14px;
	}
}
