@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

@media (max-width: 768px) {
  .hero .hero-text h2 {
    font-size: 30px;
  }

  .about h3 {
    font-size: 28px;
  }

  .onfocus .content {
    padding: 80px;
  }
}
